* {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

.Header {
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, .09);
    height: 10vh;
}

.Header h3 {
    padding: 20px;
    display: block;
    font-size: 1.17em;
    font-weight: bold;


}



.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 65%;
}

.nav li {
    padding: 10px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: medium;
}

li a:hover {
    text-decoration: none;
    color: rgb(23, 140, 212);
    font-size: medium;
}

.nav li:hover {
    color: rgb(77, 114, 237);
}

.triger {
    display: none;
}

.nav2 {
    display: none;
}

.navClose {
    display: none;
}

@media (max-width: 767px) {


    .nav {
        padding-left: 0;
        display: none;
    }

    .mobileMenu .triger {
        padding: 20px;
        z-index: 100;
    }

    .navMOB {
        display: flex;
        justify-content: end;
        width: 90%;
        padding: 20px;
        height: 5vh;
        /* padding-left: 0px; */
    }


    .triger {
        display: flex;
        padding-right: 20px;
        justify-content: end;
        transition: 1s;
    }

    .Header2 {
        margin: 0;
        height: 100vh;

    }



    .nav2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 50px;
        padding-top: 50%;
    }

    .nav2 li {
        font-size: x-large;
        font-family: 'Poppins', 'sans-serif';
    }

    .navClose {
        display: none;
    }
}